.maindiv{
    display: flex;
    justify-content: center;
    text-align: center;
 }
  
 .submaindiv{
    width: 60%;
 }
  
 .jobsbtn{
    display: flex;
    justify-content: center;
 }
  
  
 .submatcard{
    margin: 0.5rem 3rem;
 }
 